#kakaoPromotion {
  width: 100%;
  background-image: url(../img/BG@1x.png);
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.sec_cont > img {
  width: 100%;
}

/*네온*/

.sec_cont.neon {
  position: relative;
  width: 85%;
  margin: 0 7.5%;
  margin-top: -15%;
}

.sec_cont.neon > img {
  position: absolute;
  top: 0;
  left: 0;
}

.sec_cont.neon > img:nth-child(1) {
  position: relative;
}

.sec_cont.neon .drop {
  -webkit-animation: neonLight 2s infinite;
  animation: neonLight 2s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.61, 0.81, 0.2);
  animation-timing-function: cubic-bezier(0.28, 0.61, 0.81, 0.2);
}

.sec_cont.neon .money {
  -webkit-animation: neonLight 2.5s 0.5s infinite;
  animation: neonLight 2.5s 0.5s infinite;
}

.sec_cont.neon .o {
  animation: neonLight2 4s 2s infinite;
  -webkit-animation: neonLight2 4s 2s infinite;
}

.sec_cont.neon .spark {
  display: none;
}

@-webkit-keyframes neonLight {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes neonLight {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes neonLight2 {
  0% {
    opacity: 0.5;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.5;
  }
  6% {
    opacity: 1;
  }
  8% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes neonLight2 {
  0% {
    opacity: 0.5;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.5;
  }
  6% {
    opacity: 1;
  }
  8% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}

/*gMoney*/

.gMoney {
  width: 84.5%;
  margin-left: 7.7%;
  position: relative;
}

.gMoney > img {
  position: relative;
  animation: gMoney 0.6s infinite cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -webkit-animation: gMoney 0.6s infinite cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.gMoney > div {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.gMoney .prize {
  width: 37.1%;
  /* margin-left: 29.8%; */
  margin-left: 30.3%;
  animation: gMoneyText 0.6s infinite cubic-bezier(0.85, 0.18, 0.81, 0.44);
  -webkit-animation: gMoneyText 0.6s infinite
    cubic-bezier(0.85, 0.18, 0.81, 0.44);
}

.gMoney .finger {
  position: absolute;
}

.gMoney .finger.L {
  width: 15.5%;
  left: 14.5%;
  bottom: 0;
  animation: fingerL 0.6s infinite cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-animation: fingerL 0.6s infinite
    cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transform-origin: 20% bottom;
  transform-origin: 20% bottom;
}

.gMoney .finger.R {
  width: 16.3%;
  right: 16%;
  bottom: 23.3%;
  animation: fingerR 0.6s infinite cubic-bezier(0.84, 0.01, 0.55, 0.9);
  -webkit-animation: fingerR 0.6s infinite cubic-bezier(0.84, 0.01, 0.55, 0.9);
  -webkit-transform-origin: 80% bottom;
  transform-origin: 80% bottom;
}

@-webkit-keyframes gMoney {
  0% {
    top: -1px;
  }
  50% {
    top: 1px;
  }
  100% {
    top: -1px;
  }
}

@keyframes gMoney {
  0% {
    top: -1px;
  }
  50% {
    top: 1px;
  }
  100% {
    top: -1px;
  }
}

@-webkit-keyframes gMoneyText {
  0% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
  15% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
  }
  30% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
}

@keyframes gMoneyText {
  0% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
  15% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
  }
  30% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
}

@-webkit-keyframes fingerL {
  0% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
  15% {
    transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
  }
  30% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
  100% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
}

@keyframes fingerL {
  0% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
  }
  15% {
    transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
  }
  30% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
  }
  100% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
  }
}

@-webkit-keyframes fingerR {
  0% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
  15% {
    transform: rotate(22deg);
    -webkit-transform: rotate(22deg);
    -moz-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    -o-transform: rotate(22deg);
  }
  30% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
  100% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
}

@keyframes fingerR {
  0% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
  15% {
    transform: rotate(22deg);
    -webkit-transform: rotate(22deg);
    -moz-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    -o-transform: rotate(22deg);
  }
  30% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
  100% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
}

/*리워드 안내*/

.reward {
  width: 87.2%;
  margin-left: 6.4%;
}

/*share*/

.share {
  width: 92.5%;
  margin-left: 3.75%;
  margin-top: 10%;
  position: relative;
}

.share .light {
  position: absolute;
}

.share .light.on {
  animation: lightOn 1s;
  -webkit-animation: lightOn 1s;
  opacity: 1;
}

.share ul {
  position: absolute;
  top: 34.7%;
  height: 51%;
  margin-left: 10%;
  white-space: nowrap;
  width: 79.2%;
}

.share ul li {
  /* float: left; */
  height: 100%;
  width: 24%;
  position: absolute;
}

.share ul li:nth-child(1) {
  left: 0;
}

.share ul li:nth-child(2) {
  left: 25%;
}

.share ul li:nth-child(3) {
  left: 50%;
}

.share ul li:nth-child(4) {
  left: 75%;
}

.share ul li a {
  height: 100%;
}

.share ul li a img {
  height: 100%;
}

@-webkit-keyframes lightOn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lightOn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/*coin*/

.coin.intro {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: -100%;
  transition: top 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: top 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: top 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.coin.intro img {
  position: absolute;
  top: 0;
  width: 100%;
}

.coin.intro .line2 {
  top: -80%;
}

.coin.intro.on {
  top: 200%;
}

.coin.top {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: top 1s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 1s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: top 1s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: top 1s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 1s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.coin.top img {
  width: 100%;
  position: absolute;
  top: -100%;
  transition: top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.coin.top .line2 {
  width: 73%;
  margin-left: 13.5%;
}

.coin.top.on .line1 {
  top: 9.8%;
}

.coin.top.on .line2 {
  top: 20.4%;
}

.coin.top.on .line3 {
  top: 26.3%;
}

/*참여하기 버튼*/

.mainButton {
  padding-left: 1.6%;
  position: fixed;
  width: 96.2%;
  bottom: 1%;
  left: 1.9%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mainButton > img {
  width: 100%;
}

#popup .bottom .mainButton {
  position: absolute;
  bottom: -20%;
}

/*팝업*/

#popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  background: black;
}

#popup.on {
  display: block;
}

#popup > div {
  width: 100%;
  height: 60%;
  background-size: cover;
}

/*팝업, 상단부*/

#popup .top {
  position: absolute;
  background-image: url(../img/popup_topBg.png);
  top: -60%;
  background-position: center bottom;
  overflow: hidden;
}

#popup .top.on {
  top: -10%;
}

#popup .top .text {
  position: absolute;
  bottom: 12.6%;
  width: 72.6%;
  left: 13.4%;
}

#popup .top .chain {
  position: absolute;
  top: 4%;
  width: 22%;
  left: 5%;
}

.closeBtn {
  width: 7.6%;
  min-width: 40px;
  max-width: 55px;
  display: block;
  position: absolute;
  right: 5.3%;
  top: 20.3%;
}

.closeBtn > img {
  width: 100%;
}

/*팝업, 하단부*/

#popup .bottom {
  position: absolute;
  bottom: -100%;
  background-image: url(../img/popup_bottomBg.png);
  background-position: center top;
  overflow: hidden;
}

#popup.on .bottom {
  bottom: -60%;
}

#popup .bottom .boxWrap {
  margin-top: 10%;
  width: 78%;
  margin-left: 11%;
}

#popup .bottom .boxWrap > div {
  width: 100%;
  position: relative;
}

#popup .bottom .boxWrap > div > img {
  width: 100%;
}

#popup .bottom .boxWrap > div > a {
  position: absolute;
  display: block;
}

#popup .bottom .boxWrap > div > a > img {
  width: 100%;
}

#popup .bottom .boxWrap .topBox > a {
  width: 19.7%;
  top: 21%;
  right: 3%;
}

#popup .bottom .boxWrap .bottomBox > a {
  width: 26.9%;
  bottom: 11%;
  right: 9%;
}

#popup .bottom .boxWrap .bottomBox {
  margin-top: 3.4%;
}

/*가로회전, 화면깨짐 방지 */

@media screen and (orientation: landscape) {
  #popup .top .chain {
    width: auto;
    height: 70%;
  }
  #popup .top .text {
    width: auto;
    margin-bottom: 0;
    bottom: 40%;
    left: 50%;
    height: 60%;
    margin-left: 0;
    top: 60%;
    min-height: 50%;
    transform: translate(-50%, -50%);
  }
  #popup .bottom .boxWrap {
    position: absolute;
    width: auto;
    margin-top: 0px;
    top: 40%;
    height: 60%;
    left: 50%;
    margin-left: 0px;
    transform: translate(-50%, -50%);
  }
  #popup .bottom .boxWrap > .topBox {
    height: 18.5%;
    position: relative;
  }
  #popup .bottom .boxWrap .bottomBox {
    margin-top: 3.4%;
    height: 50%;
  }
  #popup .bottom .boxWrap > div > img {
    width: auto;
    height: 100%;
  }
  #popup .bottom .boxWrap .topBox > a {
    height: 60.7%;
    width: auto;
  }
  #popup .bottom .boxWrap .bottomBox > a {
    height: 20.9%;
    width: auto;
  }
  #popup .bottom .mainButton {
    height: 16.5%;
    width: auto;
    left: 50%;
    margin-left: 0;
    transform: translateX(-50%);
    padding-left: 0.6%;
  }

  #popup .bottom .mainButton > img {
    height: 100%;
    width: auto;
  }

  #popup .bottom .boxWrap > div > a > img {
    width: auto;
    height: 100%;
  }
}
